@import url("style-dark.css");
@import url("style-light.css");

@media screen and (max-width: 800px) and (min-width: 755px) {
  .logo-star-container,
  .buttons-container {
    display: flex 
  }
  .logo-wars-container,
  .light-mode .logo-star-container,
  .light-mode .logo-wars-container {
    width: 280px;
  }
  .input-default,
  .light-mode .input-default {
    width: 40%;
    margin: 5px;
  }
}

@media screen and (max-width: 755px) and (min-width: 670px) {
  .input-default,
  .light-mode .input-default {
    width: 30%;
    margin: 5px;
  }
  .logo-star-container,
  .logo-wars-container,
  .light-mode .logo-star-container,
  .light-mode .logo-wars-container {
    width: 230px;
  }

  i,
  .light-mode i {
    font-size: 30px;
  }
  .footer-text,
  .light-mode .footer-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 670px) {
  .logo-star-container,
  .logo-wars-container,
  .light-mode .logo-star-container,
  .light-mode .logo-wars-container {
    width: 180px;
  }
  i,
  .light-mode i {
    font-size: 25px;
  }
  .input-default,
  .light-mode .input-default {
    width: default;
  }
  .div-searches,
  .light-mode .div-searches {
    display: block;
  }
  .search-by-div {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .main-button,
  .light-mode .main-button {
    padding: 4px 10px;
    margin: 0px;
  }
  .main-button:hover,
  .light-mode .main-button:hover {
    padding: 4px 10px;
  }

  th {
    display: none;
  }
  td {
    display: block;
  }
  .mainTable td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
  }
  tr:nth-of-type(2n) {
    background-color: rgb(70, 36, 36);
  }
  .light-mode tr:nth-of-type(2n) {
    background-color: rgb(207, 182, 182);
  }

  .tdModal,
  .light-mode .tdModal {
    max-width: 200px;
    font-size: 12px;
  }
  .td-buttons {
    display: block;
  }
  .td-buttons input[type="checkbox"] {
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-right: 5px;
  }
  .td-buttons button {
    vertical-align: middle;
    margin-right: 5px;
  }

  .about-me-modal {
    font-size: 13px;
  }
  .my-profile-image {
    width: 70px;
    height: 70px;
  }
  .footer-text,
  .light-mode .footer-text {
    font-size: 11px;
  }
}
@media screen and (max-width: 500px) {
  .logo-star-container,
  .logo-wars-container,
  .light-mode .logo-star-container,
  .light-mode .logo-wars-container {
    width: 120px;
  }
  .main-button,
  .light-mode .main-button {
    padding: 2px 7px;
    font-size: 10px;
  }
  i,
  .light-mode i {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .logo-star-container,
  .logo-wars-container,
  .light-mode .logo-star-container,
  .light-mode .logo-wars-container {
    width: 70px;
  }
  .main-button,
  .light-mode .main-button {
    padding: 1px 5px;
    font-size: 7px;
  }
  i,
  .light-mode i {
    font-size: 9px;
  }
}
