html, body, body * {
    cursor: url("images/sword-cursor.png"), auto;
}
body {
    background-image: url('/images/bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    font-family: 'Lato', sans-serif;
    color :aliceblue;
    cursor: url('images/sword-cursor.cur'), auto;
  }

  button {
    background-color: #333; 
    color: #fff; 
    padding: 6px 11px; 
    border: 1px solid;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: all 0.3s; 
  }

  .button-plus {
    color: greenyellow;
  }
  .button-minus {
    color:rgb(139, 29, 29);
  }
  .main-button {
    background-color: #333; 
    color: #fff; 
    padding: 12px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: all 0.3s; 
  }

  .main-button:active {
    background-color: greenyellow; 
  }

  .main-button:hover {
    background-color: #555; 
    padding: 45px 58px;
    cursor: url('images/sword-cursor.png'), pointer;
  }
  
  .button-plus:hover {
    background-color: green; 
    scale: 1.2;
  }

  .button-minus:hover {
    background-color: red; 
    scale: 1.2;
  }
  

  input[type="text"] {
    background-color: #333; 
    color: #fff; 
    padding: 8px; 
    border: 1px solid #555; 
  }
  .logo-container {
    display: flex;
    justify-content:center;
  }
  .logo-star-container {
    position:25%;
    background-image: url('/images/star.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 200px; 
    height: 100px; 
    animation: logo-star-container 5s ease-out infinite;
  }
  .logo-wars-container {
    background-image: url('/images/wars.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 200px; 
    height: 100px;
    animation: logo-star-container 5s ease-out infinite; 
  }

.buttons-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.mainTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #1f1f1f; 
  }
  
  .mainTable tr:first-child {
    background-color: rgb(196, 16, 16); 
  }

  .mainTable tr {
    background-color: #2f2f2f; 
  }
  
  .mainTable tr:hover {
    background-color: #3f3f3f; /
  }
  
  .mainTable td {
    padding: 10px;
    border: 1px solid #555; 
    color: #fff; 
  }
  
  .mainTable td:hover {
    background-color: #b80505; 
  }

  tr td:last-child {
    min-width: 120px; 
  }
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid yellow;
    z-index: 1000;
    max-width: 80%;
    background-color: black;
  }

  .tableModal {
    width: "100%";
    overflow-x: "auto";
  }

  .tdModal {
    max-width: 1000px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }

  @keyframes logo-star-container {
    0% {
      opacity: 0;
      transform: scale(0.5) translateY(-1em);
    }
    20% {
      opacity: 1;
    }
    89% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }

  .table-input {
    width:80%;
  }